body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4; /* A light grey background */
    color: #333;
}

h1 {
    color: #dd61ae;
}

p {
    line-height: 1.9;
}
.container {
   max-width: 800px;
   margin: 0 auto; /* Center the content */
   padding: 15px;
   background-color: #ffffff;
   box-shadow: 0 2px 5px rgba(0,0,0,0.1);
   border-radius: 8px;
}